html {
  overflow-x: hidden;
}
[glow] .welcome-text{
  color:red;
}
.about {
  margin-left: 4rem;
  margin-right: 4rem;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10rem;
  align-items: center;

  .left {
    margin-top: 0rem;
    padding-top: 0rem;
    display: flex;
    flex-direction: column;
    position: relative;

    
    .welcome {
      font-family: "Urbanist", sans-serif;
      font-size: 6rem;
      font-weight: 700;
      max-width: 550px;
      overflow-x: hidden;

      .welcome-text {
        color:  #FDE8E9;
      }

      mark {
        background-color: rgba(102, 51, 153, 0) !important;
        color: #e2e2e2c2;
      }

      .mark2 {
        color: #ff804e;
      }
    }

    button {
      font-family: inherit;
      position: relative;
      width: fit-content;
      font-size: 0.9rem;
      color:  #FDE8E9;
      padding: 10px 10px;
      border-radius: 10px;
      background-color: #fcfcfc00;
      cursor: pointer;
      border: 1px solid black;
      border-color: #b4b4b4;
      transition: background-color 0.5s;
      font-weight: 500;
    }

    button:hover {
      background-color: #e2e2e2;
      color: #4b4649fd;
    }
  }

  .right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-weight: 300;

    .container {
      position: relative;
      display: flex;
      justify-content: center;

      .laptop {
        width: auto;
        height: 50vh;
        position: relative;
        border-radius: 10px;
        transition: top .5s ease-in-out;
        top: 0;
      }
      .laptop:hover{
        top: -10px;
      }
    }

    @keyframes span {
      50% {
        opacity: 0;
      }
    }

    .desc {
      justify-content: center;
      color:  #FDE8E9;
      font-size: 16px;
      width: 27rem;
      text-align: left;
      border-left: 3px solid;
      border-color: rgba(77, 77, 77, 0);
      padding: 10px;
      background-color: #0f0f0f00;
      border-radius: 5px;
      font-weight: 400;
      span {
        font-weight: 600;
        line-height: 3px;
      }
    }
  }
}
.btn {
  color: #FDE8E9;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  width: 100%; 
  transition: all 0.5s ease-out;
  @media(min-width: 600px) {
      
    margin: 0 1em 2em;
  
  &:hover { text-decoration: none; }
  
}
}
/////////////////////////////////
//button one
///////////////////////////////
.btn-1 {
  background:transparent;
  font-weight: 100;
  
  svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%; 
  }
  
  rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
}

.btn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;
  
  rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
    gap: 0px;

    .left {
      padding-top: 0px;
      width: 90vw;
      flex-wrap: wrap;
      align-items: center;

      .welcome {
        margin-top: 1rem;
        font-size: 3.5rem;
        text-align: center;
        width: 100%;

        overflow-x: hidden;
      }
      button {
        display: none;
      }
    }

    .right {

      .desc {
        margin: 2rem;
        margin-top: 0rem;
        width: 90vw;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }
}
