/* src/ImageSlider.css */
.slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    /* margin: auto; */
    overflow: hidden;
    border-radius: 10px;
  }
  
  .slider-image img {
    width: 100% !important;
    height: auto;
    border-radius: 10px;
    object-fit: contain  !important;
  }
  
  .left-arrow, .right-arrow {
    width:47px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    z-index: 100;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }
  
  .left-arrow:hover, .right-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  